* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin-top: -40px;
    width: 100%;
    color: white;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.header .logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.header nav {
    display: flex;
    justify-content: space-between;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

.header nav .nav-text {
    color: white;
    margin-left: 10px;
    outline: none;
    text-decoration: none;
}

.header .header-sub-section {
    margin-top: 4rem;
    display: flex;
}

.header .mainText {
    font-size: 48px;
    font-weight: bold;
}

.header .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header .mainText-section {
    width: 40%;
    margin-right: 2rem;
}

.header .img-placeholder {
    background-color: #565a5e;
    width: 50%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-button {
    cursor: pointer;
    margin-top: 8px;
    color: white;
    padding: 4px 10px;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
}

.info-section {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-section .info-heading-text {
    margin-top: -4rem;
    margin-bottom: 2rem;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .box {
    height: 8rem;
    width: 8rem;
    margin-left: 4rem;

}

.card .box .content {
    border: 2px solid #3882f6;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .box .content .content-text {
    text-align: center;
}

.card .box .box-text {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: 300;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-section .quote-text {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #1f2937;
}

.quote-section .quote-text p:not(:last-child) {
    margin-bottom: 14px;
}

.quote-section .quote-writer {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
}

.product-signup {
    color: white;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-signup .signup-section {
    border-radius: 0.5rem;
    width: 80%;
    padding: 2rem;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-btn {
    border: 2px solid white;
    margin-right: 4rem;
}

.product-signup .signup-section .paragraph {
    margin-left: 4rem;
}

.footer {
    background-color: #1f2937;
    height: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
